*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.login-box
{
    position: relative;
    width: 400px;
    height: 450px;
    background: rgba(0,0,0,0.2);
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box:hover
{
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(15px);
}
h2
{
    text-align: center;
    font-size: 2em;
    color: #fff;
    position: relative;
}
.input-box
{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}

.input-box label
{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
}
.input-box input:focus~label,
.input-box input:valid~label
{
    top: -5px;
    transition: 0.6s ease;
    color: #000;
}
.input-box input
{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box .icon
{
    position: absolute;
    right: 8px;
    color: #000000;
    line-height: 57px;
}
.input-box p
{
    position: relative;
    top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.input-box p a
{
    color: #000;
    text-decoration: none;
}
.input-box p a:hover
{
    text-decoration: underline;
}
.submit
{
    display: flex;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15px;
}
.submit button
{
    background: rgba(255,255,255,0.3);
    border: none;
    outline: none;
    padding: 10px 30px;
    border: 2px solid transparent;
    color: #fff;
}
.submit button:hover
{
    border: 2px solid #ccc;
    color: #000;
    transition: 0.5s ease;
    border-radius: 5px;
}